html, body{
  overflow-x: hidden;
}
body {
  font-family: "Domine", Helvetica, Arial, serif; 
  color:#333333;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
h2 {
  font-size:28px; 
  font-weight: normal; 
  margin-bottom: 5px;
}
p {
  font-size: 16px; 
  line-height: 19px; 
  font-weight: 100;
}
strong {
  font-weight: bold;
}
 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
}

@media (min-width: 300px) {
  .hero img {
    width: 60%;
  }
}
@media (min-width: 768px) {
   .container {
     width: 750px;
   }
   .hero img {
    width: 70%;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
   .hero img {
    width: 100%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
   .hero img {
    width: 100%;
   }
 }
 @media (min-width: 1240px) {
  .container {
    width: 1200px;
  }
  .hero img {
    width: 100%;
   }
}
/*HEADER*/
header {
  color:#FFFFFF;
  background: url("../images/background.png");
  background-size: cover;
}
header nav {
  padding:1em 0;
}
header nav ul {
  display:inline;
  text-align:right;
  float:right;
  margin: 0;
}
header nav ul > li {
  list-style-type:none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #11CCB9;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background:#11CCB9;
}
header nav ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color:#FFFFFF;
}
header .hero{
  text-align:center;
  display:block;
  position:relative;
}
header .hero h1{
  font-size:48px;
  font-weight:normal;
  margin:95px 0 0;
}
header .hero p{
  font-size:22px;
  line-height:26px;
  font-weight:100;
  margin:10px 0 40px;
}
header .hero img {
  display:block;
  margin-top:1em;
  margin-bottom:0;
  margin-right:0;
  margin-left:22em;
}
/*BUTTONS*/
.btn {
  border-radius: 4px;
  color:#FFFFFF;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid #11CCB9;
  padding: 10px 30px;
  background: #11CCB9; /*Chose darker green for this button*/
  box-shadow: 0px 2px 0px 0px #259E83; 
}


/*BENEFITS*/
.benefits {
  text-align: center;
  display: block;
  position: relative;
  background: #0ea596 url("../images/featuresbackground.png") top center no-repeat;
}
.benefits ul {
  margin: 0 auto;
  padding: 1em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits i {
   color:#FFFFFF;
   font-size:60px;
   margin: 1.5em 0 0 0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#FFFFFF;
 }

.benefits p {
  color:#FFFFFF;
}

/*PRICING*/
.pricing {
  background: #008AB2;
  background-image: linear-gradient(0deg, rgba(40,255,233,0.50) 0%, rgba(0,138,178,0.50) 100%);
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}
.pricing h2, .pricing p {
  color: #FFFFFF;
}

.pricing ul {
  margin: 0 auto;
  padding: 2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding:0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top: 0px;
}
.box h3 {
  font-family: "Domine", Helvetica, Arial, serif;
  font-weight: 600;
  text-transform: uppercase;
  background: #d8d8d8;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin:0 -15px 40px;
  padding:20px 0;
}
.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
}
.box h4 span {
  font-size: 32px;
  vertical-align: top;
}
.box h4 span.month {
  font-family: "Domine", Helvetica, Arial, serif;
  font-weight: 100;
  font-size: 20px;
  vertical-align: middle;
}
.box ul li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}
.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.small {
  font-size: 12px;
  line-height: 15px;
  font-style: italic;
}

/*TESTIMONIALS*/
.testimonials {
  padding: 4em 0;
  text-align: center;
  background: #0ea596;
}
.testimonials h2 {
  color: #FFFFFF;
}
.testimonials p {
  color: #FFFFFF;
}
.testimonials ul li {
   list-style-type: none;
 }
.testimonials blockquote {
   color: #FFFFFF;
   text-align: left;
   font-style: italic;
   background:#008ab2;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #008ab2;
   border-width: 10px;
   margin-left: -10px;
 }
 .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
.testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }
.staggered {
  position: relative;
  top: 20px;
}
/*Call to action*/
.action {
  background: #008AB2;
  background-size: cover;
  color: #FFFFFF;
  text-align: center;
  padding: 4em 0;
}
.action h2 {
  position: relative;
  bottom: 30px;
}
.action p {
  position: relative;
  bottom: 30px;
}

/*FOOTER*/
footer {
  background: #003E51;
  color: #FFFFFF;
  height: 150px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
footer p, footer nav ul {
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  margin: 10px auto 0;
}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .logo {
  padding: 0.1em 0;
  margin: 0 auto;
  display: block;
}
@media (min-width: 992px) {
  footer{
    background-color: #003E51;
    height: 100px;
  }
footer p, footer nav ul {
  padding: 2em 0;
  text-align: left;
}
footer .logo {
  padding: 1em 0 2em 1.5em;
}
}


/*dashboard*/
.top-nav {
   margin-right: auto;
   margin-left: auto;
   padding: 20px;
   position: relative;
   background: #008AB2;
   background-image: linear-gradient(0deg, rgba(0,196,255,0.50) 0%, rgba(0,138,178,0.50) 100%);
 }
 .top-nav:before,
 .top-nav:after {
   content: " ";
   display: table;
 }
 .top-nav:after {
   clear: both;
 }

 .settings, .right-settings {
   width:96%;
   position:relative;
   min-height: 1px;
   margin:0;
 }
.top-nav .settings {
  float:left;
}

.active {
  border-bottom: solid thick #009FCD;
}
 
@media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:98%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
   .content > .container {
    width:auto;
   }
 }

  @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:98%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }

 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:98%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
 }
  .settings {
    width: 46%
  }
  .right-settings {
    width: 46%
  }
}

.account {
  width: 170px;
  float: right;
}
.top-nav .right-settings img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.top-nav .right-settings p {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  color: #FFFFFF;
}

.top-nav .gear {
  display: inline-block;
  vertical-align: top;
  margin-top: -15px;
  color: #FFFFFF;
  float: right;
}

.menutop li {
  list-style-type: none;
  }

.menutop {
  margin-top: -20px;
}

 .menutop li a i {
  margin-right: 5px;
 }

.top-nav .right-settings {
  display:inline;
  float: right;
  }

.items {
  padding-bottom: 0;
  padding-left: 20px;
  border-bottom: solid thick #F3F3F3;
}

.items p {
  display: inline-block;
  padding-right: 20px;
}

.options .top-items {
  list-style-type: none;
  margin-top: 50px;
  border-bottom: solid thick #F3F3F3;
}

.options ul li {
  display: inline-block;
  margin-right: 20px;
}

.options ul li a {
  text-decoration: none;
  color: #008AB2;
}

.options ul li i {
  margin-right: 5px;
}

.options .menu {
  display: inline-block;
  float: right;
  margin-right: 0;
  margin-top: 5px;
}

.list img {
  float: right;
  margin-right: -100px;
  margin-top: 100px;
}

.content > .container {
  margin-top: 100px;
}

.content .list img {
  float: right;
  margin-top: -80px;
  margin-right: 20px;
  position: relative;
}

.content-item {
  width: 280px;
  float: left;
  display: block;
  background: #E9E9E9;
  height: 361px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.content-item h2 {
  margin-left: 20px;
  font-size: 15px;
  margin-top: -20px;
}

.content-item h2 a {
  color: #157F75;
}
.content-item h6 {
  margin-left: 20px;
  margin-top: 0;
}

.item-box {
  display: block;
  height:253px;
  background: #FFFFFF;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.item-box p {
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}

.item-box .links-logo {
  margin: 10px;
}

.content-item ul {
  list-style-type: none;
  float: right;
  margin-top: 0;
  margin-right: 10px;
}

.content-item ul li {
  padding-right: 10px;
  display: inline-block;
  
}

.content-item .icons {
  margin-top: 43px;
}

.content-item ul li a {
  color: #008AB2;
}


.dropit .dropit-trigger {position: relative;}
.dropit .dropit-submenu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  min-width: 100px;
  list-style: none;
  padding: 20px;
  margin: 20px 0 0;
}

.dropit .dropit-open .dropit-submenu {
  display: block;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
  border-radius: 4px;
}
.dropit .dropit-open .dropit-submenu:after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -8px;
  right: 10px;
}
.dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 20px;
}
.dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
}
.dropit .dropit-open .dropit-submenu li a {
  color: black;
  text-decoration: none;
  font-family: "Domine", Helvetica, Arial, serif;
  font-weight: 100;
  font-size: 12px;
}

.top-items {
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-100%,0);
     -webkit-transform: translate(-100%,0); /** Chrome & Safari **/
     -o-transform: translate(-100%,0); /** Opera **/
     -moz-transform: translate(-100%,0); /** Firefox **/
 }
 .top-items.open {
   display:block;
   width:-100%;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
}
.hamburger {
   position:absolute;
   z-index: 1000;
   background:#34495E;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 30px;
   top: 205px;
 }
 @media (min-width:992px) {
   .top-items {
     width:100%;
     float:left;
     position: absolute;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .top-items.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }


